.button {
  display: block;
  width: 100%;
  padding: 13px 22px 11px;

  letter-spacing: 1px;
  font-family: $font-family-secondary;
  text-transform: uppercase;
  color: $basic_white;
  text-align: center;

  background-color: $basic_green;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $basic_green-2;
  }

  &:active {
    color: rgba($basic_white, 0.3);
  }

  &--grey {
    color: $special_dark-grey;

    background-color: $basic_grey;

    &:hover,
    &:focus {
      background-color: $special_grey-5;
    }

    &:active {
      color: rgba($special_dark-grey, 0.3);
    }
  }
}
