.choice-box__input {
  @include visually-hidden;

  &:focus ~ .choice-box__label::before {
    border-color: #bababa;
  }

  &:focus ~ .choice-box__label {
    outline: 2px dashed $special_dark-grey;
  }

  &:not(:disabled) ~ .choice-box__label:hover::before {
    border-color: #bababa;
  }

  &:disabled ~ .choice-box__label {
    opacity: 0.3;
    cursor: default;
  }

  &--radio {
    &:checked ~ .choice-box__label::before {
      background-color: $basic_green;
      background-clip: content-box;
    }
  }

  &--checkbox {
    &:checked ~ .choice-box__label::after {
      content: url("../img/icon-tick.svg");
      position: absolute;
      left: 6px;
      top: 11px;

      width: 18px;
      height: 14px;
    }
  }
}

.choice-box__label {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 12px 10px 12px 45px;

  font-size: 16px;
  font-family: $special_font;
  text-transform: uppercase;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;

    width: 30px;
    height: 30px;
    padding: 7px;

    border: 1px solid $special_grey;
  }

  &--radio::before {
    border-radius: 50%;
  }
}
