.example {
  padding-top: 29px;
  padding-bottom: 22px;

  background-color: $special_grey-6;
}

.example__title {
  margin: 0;
  margin-bottom: 36px;
}

.example__text {
  margin: 0;
  margin-bottom: 24px;
  padding-right: 14px;

  line-height: 1.3;
}

.example__desc-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
  margin: 0;
  margin-bottom: 36px;
}

.example__desc-inner {
  position: relative;

  min-width: 124px;
  padding-top: 12px;
  padding-bottom: 15px;

  text-align: center;

  border: 1px solid $special_grey;
  border-radius: 3px;
}

.example__desc-term {
  font-weight: 400;
  font-size: 24px;
  font-family: "Oswald";
  color: $basic_black;
  text-transform: uppercase;
}

.example__desc-description {
  position: absolute;
  bottom: -18px;
  left: 16%;
  z-index: 1;

  width: 82px;
  margin: 0;

  font-size: 12px;
  text-transform: lowercase;

  background-color: $special_grey-6;
}

.example__suptitle {
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald";
  text-align: center;
  text-transform: uppercase;
  color: $basic_black;
}

.example__list {
  list-style: none;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.example__item {
  text-align: center;
}

.example__toggels {
  display: flex;
  justify-content: center;
  align-items: center;
}
