.form__group {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  border: none;

  &--cat {
    margin-bottom: 23px;
  }

  &--programm {
    margin-left: calc(var(--content-padding-mobile) * -1);
    margin-right: calc(var(--content-padding-mobile) * -1);
    margin-bottom: 26px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: var(--content-padding-mobile);
    padding-left: var(--content-padding-mobile);
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }

  &--comment {
    margin-bottom: 24px;
  }

  &--extra {
    .form__title {
      margin-bottom: 29px;
    }
  }
}

.form__title {
  display: inline-block;
  max-width: 201px;
  margin-bottom: 32px;
  float: left;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__item:not(:last-child) {
  margin-bottom: 14px;
}

.form__button {
  margin-bottom: 21px;
}

.form__required {
  display: block;
  text-align: center;

  font-size: 14px;
  color: $basic_black;
}
