.page-footer {
  padding-top: 28px;

  background-color: $basic_grey;
}

.page-footer__bottom {
  padding-top: 40px;
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin-right: auto;
  margin-bottom: 27px;
  margin-left: auto;
}
