.promo {
  position: relative;

  font-family: "Oswald";
  text-align: center;
  color: $basic_white;
}

.promo__wrapper {
  margin-bottom: 135px;
  padding-top: 27px;
  padding-bottom: 166px;

  background:
  $basic_green
  url("../../img/index-background-mobile@1x.jpg")
  0 0
  no-repeat;
  background-size: cover;
}

.promo__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 36px;
  line-height: 1;
}

.promo__text {
  display: block;
  margin-bottom: 5px;

  font-weight: 400;
  text-transform: uppercase;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.promo__img {
  position: absolute;
  bottom: 43px;
  left: calc(50% - 140px);
}

.promo__link {
  display: block;
  padding-top: 13px;
  padding-bottom: 11px;
}
