.text-input {
  width: 100%;
  height: 45px;
  padding: 13px 15px 12px;

  font-size: 16px;
  font-family: $font-family-secondary;
  color: $special_dark-grey;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #e7e7e7;
  overflow: hidden;

  &::placeholder {
    color: $special_dark-grey;

    transition: 0.3s ease-in;
    transform-origin: 0 50%;
  }

  &:focus::placeholder {
    transform: translateX(70%);
    opacity: 0;
  }

  &:hover {
    border-color: $special_grey;
  }

  &:focus {
    border: 1px solid $special_dark-grey;
    box-shadow: inset 0 0 0 1px $special_dark-grey;
    outline: none;
  }
  // TODO: настроить
  // &:invalid {
  //   border: 1px solid $status_error;
  //   box-shadow: inset 0 0 0 1px $status_error;
  //   outline: none;
  // }
  //
  // &:invalid ~ .entry-box__icon {
  //   fill: $status_error;
  // }

  &--textarea {
    width: 100%;
    height: 150px;
    padding: 13px;

    resize: none;
  }
}
