:root {
  --content-padding-mobile: 20px;
  --content-padding-tablet: 30px;
  --content-padding-desktop: 40px;
  --content-width-mobile: ($mobile-width - var(--content-padding-mobile) * 2);
  --content-width-tablet: ($tablet-width - var(--content-padding-tablet) * 2);
  --content-width-desktop: ($desktop-width - var(--content-padding-desktop) * 2);
}

$basic_white: #ffffff;
$basic_black: #000000;
$status_error: #ff8282;
$basic_green: #68b738;
$basic_green-2: #5eaa2f;
$special_grey-8: #e7e7e7;
$basic_grey: #f2f2f2;
$special_grey: #cdcdcd;
$special_grey-2: #666666;
$special_grey-3: #d9d9d9;
$special_grey-4: #d3d3d3;
$special_grey-5: #ebebeb;
$special_grey-6: #eaeaea;
$special_grey-7: #bababa;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;

$mobile-paddings: 20px;
$tablet-paddings: 30px;
$desktop-paddings: 40px;

$font-family-basic: "Arial", sans-serif;
$font-family-secondary: "Oswald", "Tahoma", sans-serif;


$special_font: "Oswald", "Arial", sans-serif;
